<br />
<br />
<h1>New student</h1>

<%= render 'form' %>

<br />
<%= button_to students_path, method: :get, class: 'btn btn-default btn-lg' do %>
  <i class="glyphicon glyphicon-triangle-left"></i> Back
<% end %>