<br />
<br />
<h1>Editing city</h1>

<%= render 'form' %>

<br />
<%= button_to @city,method: :get, class: 'btn btn-default btn-lg' do %>
              <i class="glyphicon glyphicon-info-sign"></i> Show
<% end %>
<%= button_to cities_path, method: :get, class: 'btn btn-default btn-lg' do %>
              <i class="glyphicon glyphicon-triangle-left"></i> Back
<% end %>